<!-- {% block content %}

{% if validlink %}
<h2>Password Reset Form</h2>
<form method="post" style="padding-left:20px;">
{% csrf_token %}
<input type="password" name="new_password1" required="" placeholder="Choose Password">
<input type="password" name="new_password2" required="" placeholder="Retype Password">
<p>{{ form.new_password2.errors.0 }}</p>
<button type="submit">Reset Password</button>
</form>

{% else %}
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}

{% endblock %} -->

{% load static %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confirm.css' %}" />
{% endblock %}
<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password Setting</title>
</head>

<body>
  {% if validlink %}
  <div class="resetmain">
    <p class="sign" align="center">新しいパスワードを入力</p>
    <form method="post" style="padding-left:20px;">
      {% csrf_token %}
      <input class="un " type="password" align="center" name="new_password1" required="" placeholder="New Password">
      <input class="un " type="password" align="center" name="new_password2" required="" placeholder="Retype Password">
      <p>{{ form.new_password2.errors.0 }}</p>
      <button type="submit" class="submit">パスワードリセット</button>
    </form>
    {% else %}
    <div class="text">
      <p class="text1">ERROR<br><br>パスワード変更のリンクが無効です<br>もう一度やり直してください</p>
    </div>
    {% endif %}
  </div>
</body>

</html>