{% block content %}

{% if validlink %}
<h2>Password Reset Form</h2>
<form method="post" style="padding-left:20px;">
{% csrf_token %}
<input type="password" name="new_password1" required="" placeholder="Choose Password">
<input type="password" name="new_password2" required="" placeholder="Retype Password">
<p>{{ form.new_password2.errors.0 }}</p>
<button type="submit">Reset Password</button>
</form>

{% else %}
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}

{% endblock %}