/* :rootのCSS変数の宣言 */
:root {
  --white: #ffffff;
  --aqua-squeeze: #e9f4f1;
  --mine-shaft: #2f3130;
  --observatory: #278c72; 
  --java: #16afaf;
  --hoki: #658194;
  /* style */
  --main-color: var(--observatory); 
  --sub-color: var(--hoki);
  --highlight-color: var(--java);
  --background: var(--aqua-squeeze);
  --white: var(--white);
  --black: var(--mine-shaft);
}
p {
  text-align: center;
  font-size: 32px;
  margin: 112px auto 56px auto;
}
p.text1 {
  font-size: 24px;
  text-align: center;
  margin: 8px auto;
}
p.text2 {
  font-size: 24px;
  text-align: center;
  margin: 8px auto;
}
.container {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 70px;
  border: #2f3130 3px solid;
  text-decoration: none;
  margin-bottom: 16px;
  background-color: var(--aqua-squeeze);
}
.box1 {
  width: 312px;
  height: 290px;
  margin-top: 120px auto;
}
.box2 {
  width: 312px;
  height: 290px;
  margin-top: 120px auto;
}
a.choice {
  text-decoration: none;
  color:var(--mine-shaft);
}
a:hover.choice {
  text-decoration: underline;
  color:var(--mine-shaft);
}
a:visited.choice {
  color:var(--mine-shaft);
}
.shadow-box {
  display: inline-block;
  border-radius: 70px;
  width: 300px;
  height: 300px;
}
address.shadow-box img {
  display: block;
  border-radius: 70px;
  width: 300px;
  height: 300px;
}
a.shadow-box:hover {
  box-shadow: 8px 8px #16afaf;
  border-radius: 70px;
  width: 300px;
  height: 300px;
}
