/*横スクロールのcss*/
.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
  margin: 110px auto auto; /* 上 | 左右 | 下 */
  list-style: none;
}
.horizontal-scroll li img{
  display: inline-block;
  margin: 5px;
  align-items: center;
  margin: 0 450px; 
  height: 500px;
  border: #fff 3px solid;
  object-fit: contain;
}
/* スクロールバーのカスタマイズ */
.horizontal-scroll::-webkit-scrollbar {
    display:none;
}

