/*横スクロールのcss*/
.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  list-style: none;
}
.horizontal-scroll li img{
  display: inline-block;
  margin: 5px;
  align-items: center;
  margin: 0 450px; 
  height: 600px;
  border: #fff 3px solid;
  object-fit: contain;
}
/* スクロールバーのカスタマイズ */
.horizontal-scroll::-webkit-scrollbar {
    display:none;
}

