/*横スクロールのcss*/

.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  list-style: none;
}

/* スクロールバーのカスタマイズ */

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.heart-icon {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

.comment-icon{
  font-size: 3.1em;
  position: fixed;
  bottom: 5px;
  right: 100px;
  margin: 10px;
}
.comment-color{
  color: #5f7083;
}
.fa-comments:hover{
 color:#e0245e;
}