* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2 {
  pointer-events: none;
}
body {
  background-color: #E6E5E1;
  width: 100vw;
  height: 100vh;
}

.container01 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
}

.container01 .card {
  position: relative;
  width: 750px;
  height: 300px;
  background-color: #16AFAF;
  overflow: hidden;
  margin-bottom: 4px;
}

.container01 .card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}

.container01 .card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}

.container01 .card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}

.container01 .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #757575;
}

.container01 .card h2 {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: GREEN;
}

.container01 .card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
  color:#16AFAF;
}

.container01 .card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 100px;
  color: #FFF;
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container01 .card .pic {
  z-index: 100;
  width: 610px;
  height: 300px;
  background-color: #fff;
  background-size: 100% 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.container01 .card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}

.container01 .card .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.container01 .card .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.container01 .card .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.container01 .card .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.container01 .card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.container01 .card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #d0dbdf;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}

.container01 .card button i {
  font-size: 3rem;
}

.container01 .card:hover button {
  -webkit-transform: scale(10);
          transform: scale(10);
}


.container01 .card:hover .pic {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.container01 .card2 .pic {
  background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}

.container01 .card2 button {
  background-color: #16AFAF;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}
span.title{
  color: #757575;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 32px;
}
span.overview{
  color: #757575;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 24px;
}
span.tagtop{
  color: #757575;
  position: absolute;
  top: 55%;
  left: 10%;
  font-size: 16px;
}
.white-base{
  position:relative
}
.sortbtn{
  list-style: none;
  justify-content:center;
  color: #fff;
}
li.btn-margin{
  margin: 100px;
}
/*個展タグ*/
.btn-on01 {
  color: #fff;
  background-color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  padding: 0.7rem 1rem;
  top: 190px;
  left:30px;
}
.btn-on02{
  color: #fff;
  background-color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  padding: 0.7rem 1rem;
  top: 182px;
  left:195px;
}
.btn-on03{
  color: #fff;
  background-color:#bdbdbd;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  padding: 0.7rem 1rem;
  top: 215.8px;
  left:30px;
}
.btn-on04{
  color: #fff;
  background-color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  padding: 0.7rem 1rem;
  top: 208.5px;
  left: 195px;
}
span.by{
  color: #757575;
  position: absolute;
  top: 255px;
  left: 55%;
  font-size: 16px;
}

/*# sourceMappingURL=detail-top.css.map */