/*親要素*/
.ribbon8 {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  width: 500px;
  top:8%;
  left:32%;
  font-size: 18px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: #a6d3c8;/*背景色*/
}
/*折り畳み左*/
.ribbon8:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}
/*折り畳み右*/
.ribbon8:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}