/* :rootのCSS変数の宣言 */
:root {
  --white: #ffffff;
  --aqua-squeeze: #e9f4f1;
  --mine-shaft: #2f3130;
  --observatory: #278c72; 
  --java: #16afaf;
  --hoki: #658194;
  /* style */
  --main-color: var(--observatory); 
  --sub-color: var(--hoki);
  --highlight-color: var(--java);
  --background: var(--aqua-squeeze);
  --white: var(--white);
  --black: var(--mine-shaft);
}
body {
  font-family: "Noto Sans JP", sans-serif, 游ゴシック体, YuGothic, 游ゴシック,
    "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", メイリオ,
    sans-serif;
  background-color: var(--aqua-squeeze);
  color: var(--mine-shaft);
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*header*/
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 44px;
  width: 100%;
  align-items: center;
  background-color: var(--observatory);
  font-size: 24px;
  position: fixed;
  z-index:1000;
}
li.home {
  margin-left: 26px;
}
.pc-nav {
  margin-right: auto;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin-right: 1rem;
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 7.5px;
  color: var(--aqua-squeeze);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
.pc-nav .pc-nav-menu a {
  position: relative;
}
.pc-nav .pc-nav-menu a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background: var(--aqua-squeeze);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.pc-nav .pc-nav-menu a:hover::after {
  width: 100%;
}
footer {
  width: 100%;
  height: 88px;
  background-color: var(--observatory);
  color: var(--aqua-squeeze);
  padding-right: 120px;
  font-size: 16px;
  padding: 30px 0;
  bottom: 0;
  margin-top: auto;
}
ul.footer-menu li {
  display: inline;
}
p.footer-text {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}
/*button*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために*/
}
.btn,
a.btn,
button.btn {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: var(--mine-shaft);
  border-radius: 0.5rem;
}
a.btn-signup {
  border: 2px solid var(--aqua-squeeze);
  border-radius: 70px;
  background: var(--observatory);
  color: var(--aqua-squeeze);
}
a.btn-signup:hover {
  color: var(--aqua-squeeze);
  background: var(--java);
}
a.btn-login {
  border: 2px solid var(--aqua-squeeze);
  border-radius: 70px;
  background: var(--aqua-squeeze);
  margin-right: 40px;
  margin-left: 8px;
  color: var(--mine-shaft);
}
a.btn-login:hover {
  color: var(--aqua-squeeze);
  background: var(--java);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--aqua-squeeze);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb {
  background: var(--observatory);
  border-radius: 10px;
  box-shadow: none;
}
img.header-icon {
  display: block;
  border: 2.5px solid #ffffff;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 26px 0 0;
}