p.good-work{
  text-align: center;
  color: #ffffff;
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 40px;
  margin:48px 0 0 0;/* 上 | 右 | 下 | 左 */
}
p.work-comment{
  color: #e4e3e3;
  font-family: "Noto Sans JP";
  font-size: 16px;
  margin:40px auto 24px 160px;/* 上 | 右 | 下 | 左 */
}
div.comment-scroll{
  margin:0 auto 8px auto;/* 上 | 右 | 下 | 左 */
  padding: 0 1.5em;
  font-size: 1em;
  width: 80%;
  height: 40em;
  overflow: auto;
  background-color: #686868;
  border-radius: 16px;
  align-items: center;
}
