/* :rootのCSS変数の宣言 */
:root {
  --white: #ffffff;
  --aqua-squeeze: #e9f4f1;
  --mine-shaft: #2f3130;
  --observatory: #278c72; 
  --java: #16afaf;
  --hoki: #658194;
  /* style */
  --main-color: var(--observatory); 
  --sub-color: var(--hoki);
  --highlight-color: var(--java);
  --background: var(--aqua-squeeze);
  --white: var(--white);
  --black: var(--mine-shaft);
}
p.good-work{ /*お疲れ様でした*/
  text-align: center;
  color: var(--mine-shaft);
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 40px;
  margin:70px 0 30px 0;/* 上 | 右 | 下 | 左 */
}
.comment-scroll{
  margin:0 auto 8px auto;/* 上 | 右 | 下 | 左 */
  padding: 0 1.5em;
  font-size: 1em;
  width: 80%;
  height: 45em;
  overflow: auto;
  background-color: #ffffff;
  border: 3px solid #707070;
  border-radius: 16px;
  align-items: center;
  padding: 1em 3em 1em 3em;/* 上 | 右 | 下 | 左 */
}
dd.view-comment{/*ユーザのコメント*/
  font-size: 24px;
  margin: 0.5em auto 0.5em 1em; /* 上 | 右 | 下 | 左 */
  color: #9BAEB0;
}
/* span.comment-bg{/*コメントのbox背景
  background-color: #ECECEC;
  border-radius: 8px;
} */
img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: #9BAEB0 solid 3px;
  float: left;
}
.comment-scroll dl {
  padding: 0.5em 0;
}
.comment-scroll dt {
  padding-bottom: 0;
  width: 7em;
  margin: 0.7em 8px 0 auto;/* 上 | 右 | 下 | 左 */
}
@media screen and (min-width: 480px) {
.comment-scroll dt {clear: left;float: left;}
.comment-scroll dd {margin-left: 0.5em;}
}
.comment-input {
  border: 2px solid #7caa92;
  background: #ffffff;
  border-radius: 15px;
  width: 650px;
  height: 45px;
  position: fixed;
  top: 525px;
  left: 260px;
}
.comment-button {
  border: 2px solid #ffffff;
  border-radius: 70px;
  background: #7caa92;
  color: #ffffff;
  width: 70px;
}
span.sub-title{
  margin-bottom: 1em;
  color: #707070;
}
.comment-icon{
  padding-bottom: 0;
  margin: 1em 25px 0 auto;
  position :fixed;
  top: 505px;
}