body{
  background-color: #f0f6eb;
}
div.container {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.container p {
  margin: 0;
  font-size:32px;
  font-weight: 600;
  color: #517261;
 }