.container{
  flex-direction: row;
  justify-content: space-between;
}
.side{
 background-color: #278c72;
 border-radius: 25px;
 margin: 0 70vw 2vw 3.6vw;
 height: 540px;
 float: left;
}
.btn, a.btn, button.btn{
  color: #658194;
  background-color:#fff;
  border: 2px solid #fff;
  margin: 5px;
  justify-content: center;
  margin: 10px 105px;
  width: 120px;
  position: absolute;
  top:475;
  left: 520;
}
.btn:hover, a.btn:hover, button.btn:hover {
  color: #fff;
  background: #16afaf;
  width: 120px;
}
img.icon{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 3.5px solid #fff;
  margin: 10px 120px 30px 120px;
}
p.username{
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 10px 0 5px 0;
}
a.btn--radius {
   border-radius: 100vh;
}
.main{
 background-color: #278c72;
 border-radius: 25px;
 margin: 85px 80px 50px 500px;
 height: 540px;
 width: 63vw;
 position: relative;
}
p.icon{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top:60;
  left: 170px;
}
p.userid{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top:235;
  left: 170px;
}
p.username02{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top:290;
  left: 170px;
}
p.mail{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top:345;
  left: 170px;
}
p.bio{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top:400;
  left: 170px;
}
img.change-icon{
  color: #fff;
  position: absolute;
  top:60;
  left: 120px;
  border-radius: 50%;
  border: 3.5px solid #fff;
  height: 140px;
  width: 140px;
  position: absolute;
  top:60;
  left: 480px;
}
.icon-button{
  position: absolute;
  top:180;
  left: 650;
  font-family: "Noto Sans JP";
}
.useruntext{
  background-color: #fff;
  width: 350px;
  height: 30px;
  position: absolute;
  top:235;
  left: 400;
  border-radius: 5px;
}
p.userunlock{
  color: #658194;
  text-align: center;
  font-size: 18px;
  font-family: 500;
}
.usernametext{
  background-color: #fff;
  width: 350px;
  height: 30px;
  position: absolute;
  top:290;
  left: 400;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  color: #658194;
}
.usermailtext{
  background-color: #fff;
  width: 350px;
  height: 30px;
  position: absolute;
  top:345;
  left: 400;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  color: #658194;
}
.userbiotext{
  background-color: #fff;
  width: 350px;
  height: 60px;
  position: absolute;
  top:400;
  left: 400;
  border-radius: 5px;
  color: #658194;
  font-size: 12px;
  font-weight: 500;
}
footer {
  width: 100%;
  height: 88px;
  background-color: var(--observatory);
  color: var(--aqua-squeeze);
  padding-right: 120px;
  font-size: 16px;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.profilebutton a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  width: 188px;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  background-color: #cccccc;
  border-radius: 50vh;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
}

.profilebutton a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}
.artshow a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 53px;
  width: 188px;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  background-color: #cccccc;
  border-radius: 50vh;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
}

.artshow a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

