:root {
  --white: #ffffff;
  --aqua-squeeze: #e9f4f1;
  --mine-shaft: #2f3130;
  --observatory: #278c72; 
  --java: #16afaf;
  --hoki: #658194;
  /* style */
  --main-color: var(--observatory); 
  --sub-color: var(--hoki);
  --highlight-color: var(--java);
  --background: var(--aqua-squeeze);
  --white: var(--white);
  --black: var(--mine-shaft);
}
.container {
  width: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
img.icon {
  display: block;
  margin: 50px auto 0 auto; /* 上 | 右 | 下 | 左 */
  border: 5px solid #ffffff;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
p.username {
  margin: 16px 0 0 0; /* 上 | 右 | 下 | 左 */
  text-align: center;
  font-size: 24px;
  color: #278c72;
}
p.userid {
  margin: 4px;
  text-align: center;
  font-size: 24px;
  color: #97a89ea4;
}
.profile-text{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: var(--mine-shaft);
  border: solid 3px #278c72;
  border-radius: 10px;
}
p.artworks {
  text-align: center;
  font-size: 24px;
  margin: 56px 0 16px 0; /* 上 | 右 | 下 | 左 */
}
img.artworks {
  margin: 10px; /* 上 | 右 | 下 | 左 */
  width: 200px;
  object-fit: cover;
  border: 3px solid #278c72;
}
img.artworks:hover {
  border: 2px double #278c72;
}
img.artworks2 {
  margin: 10px; /* 上 | 右 | 下 | 左 */
  width: 184px;
	height: 184px;
  object-fit: cover;
  border: 3px solid #278c72;
	border-radius: 8px;
}

/*タブここから*/
.tab-wrap {
	background: #E9F4F1;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
  margin: 0 auto 15px auto;
}

.tab-label {
	color: Gray;
  background:#E9F4F1;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
  max-width:150px;
  font-size: 16px;
}

.tab-label:hover {
	background: #D7E7E2;
}

.tab-switch:checked + .tab-label {
	color: #3f3f3f;
}

.tab-label::after {
	background: #278C72;
	top:0;
	content: '';
	display: block;
	height: 4px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	padding: 0 20px;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_box {
	position: relative;
}
.cp_box label {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 200px; /* グラデーションの高さ */
	cursor: pointer;
	text-align: center;
	/* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
	 background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, #E9F4F1 75%); 
}
.cp_box input:checked + label {
	background: inherit; /* 開いた時にグラデーションを消す */
}
.cp_box label:after {
	line-height: 2.5rem;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	width: 16rem;
	font-family: FontAwesome;
	content: ' 続きをよむ';
	transform: translate(-50%, 0);
	letter-spacing: 0.05em;
	color: #ffffff;
	border-radius: 20px;
	background-color: rgba(27, 37, 56, 1);
}
.cp_box input {
	display: none;
}
.cp_box .cp_container {
	overflow: hidden;
	height: 450px; /* 開く前に見えている部分の高さ */
	transition: all 0.5s;
}
.cp_box input:checked + label {
	/* display: none ; 閉じるボタンを消す場合解放 */
}
.cp_box input:checked + label:after {
	font-family: FontAwesome;
	content: ' 閉じる';
}
.cp_box input:checked ~ .cp_container {
	height: auto;
	padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
	transition: all 0.5s;
}
a.btn-submit {
	width: 153px;
	height: 48px;
	position: relative;
	left: 450px;
	border: 2px solid #ffffff;
	border-radius: 70px;
	background: var(--observatory);
	color: #ffffff;
	display:block;  
	margin: 0 auto; 
	padding: 10px;
	margin-bottom: 72px;
  }
  a.btn-submit:hover {
	color: #ffffff;
	background: var(--java);
  }
  #preview img {
	width:80px;
  height:80px;
  object-fit: cover;
	border:3px solid #278c72;
  margin: 20px 5px 0 5px;
  border-radius: 5px;
}