:root {
  --white: #ffffff;
  --aqua-squeeze: #e9f4f1;
  --mine-shaft: #2f3130;
  --observatory: #278c72; 
  --java: #16afaf;
  --hoki: #658194;
  /* style */
  --main-color: var(--observatory); 
  --sub-color: var(--hoki);
  --highlight-color: var(--java);
  --background: var(--aqua-squeeze);
  --white: var(--white);
  --black: var(--mine-shaft);
}
.container {
  width: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
img.icon {
  display: block;
  margin: 50px auto 0 auto; /* 上 | 右 | 下 | 左 */
  border: 5px solid #ffffff;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
p.username {
  margin: 16px 0 0 0; /* 上 | 右 | 下 | 左 */
  text-align: center;
  font-size: 24px;
  color: #278c72;
}
p.userid {
  margin: 4px;
  text-align: center;
  font-size: 24px;
  color: #97a89ea4;
}
.profile-text{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: var(--mine-shaft);
  border: solid 3px #278c72;
  border-radius: 10px;
}
p.artworks {
  text-align: center;
  font-size: 24px;
  margin: 56px 0 16px 0; /* 上 | 右 | 下 | 左 */
}
img.artworks {
  margin: 32px; /* 上 | 右 | 下 | 左 */
  width: 250px;
  height: 300px;
  object-fit: cover;
  border: 3px solid #f1f1f1;
}
img.artworks:hover {
  border: 3px double #f1f1f1;
}
.grad-btn::before {
  content: "続きを読む";
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 400px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる"; /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

/*タブここから*/
.tab-wrap {
	background: #E9F4F1;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label {
	color: Gray;
  background:#E9F4F1;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
  max-width:150px;
  font-size: 16px;
}

.tab-label:hover {
	background: #D7E7E2;
}

.tab-switch:checked + .tab-label {
	color: #3f3f3f;
}

.tab-label::after {
	background: #278C72;
	top:0;
	content: '';
	display: block;
	height: 4px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	padding: 0 20px;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

