body {
  background-color: #f0f6eb;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 100px;
}

.main {
  width: 500px;
  height: 550px;
  margin: 4em auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 18.344px;
  padding-bottom: 3%;
  margin-top: 3%;
  box-shadow: 0px 11px 14px 1px rgba(0, 0, 0, 0.08);
  font-family: "Noto Sans JP", sans-serif;
}

.su {
  color: #6f9782;
  margin-bottom: 7%;
  font-weight: 600;
  font-size: 25px;
  font-family: "Noto Sans JP", sans-serif;
}

.Name {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.ID {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.mail {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.pass1 {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.pass2 {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.cal {
  width: 80%;
  color: rgba(38, 50, 56, 0.58);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  margin-bottom: 27px;
  font-family: "Noto Sans JP", sans-serif;
}

.country {
  width: 80%;
  color: rgba(38, 50, 56, 0.58);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align-last: center;
  margin-bottom: 27px;
  margin: 40px;
  margin-top: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

.gen {
  margin-left: 14%;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  color: rgba(38, 50, 56, 0.58);
  font-family: "Noto Sans JP", sans-serif;
}

.submit {
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #96d6b4, #2a5841);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 13px;
}

.first:focus,
.mail:focus,
.pass1:focus,
.pass2:focus,
.cal:focus,
.country:focus {
  border: 2px solid #6f9782;
  outline: 0;
}

.submit:hover {
  box-shadow: 0 0 13px 1px rgba(84, 188, 43, 0.35);
  cursor: pointer;
}

.submit:active {
  box-shadow: none;
}

textarea:focus,
input:focus {
  color: #6f9782;
}

a {
  color: #6f9782;
  font-style: normal;
  text-decoration: none;
}

.mb {
  color: #263238;
}

span.mb-2:hover {
  color: #263238;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb {
  background: #7caa92;
  border-radius: 10px;
  box-shadow: none;
}
