.container {
  width: 100%;
  width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
img {
  display: block;
  margin: 80px auto 0 auto; /* 上 | 右 | 下 | 左 */
  border: 5px solid #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
