<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} 
    {% block link %}
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fream.css' %}">
    {% endblock %}
    <title>User Works</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- 個々の作品画像 -->
      <ul class="horizontal-scroll">
        {% for image in images %}
        <li>
          <div class="frame">
            <img src={{ image.image.url }}>
          </div>
        </li>
        {% endfor %}
        <li>
          <a href="../last/{{ post.id }}">リストに戻る</a>
        </li>
      </ul><!-- slider-wrapper -->
    </div><!-- wrapper -->
    
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'mousewheel/jquery.mousewheel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
  </body>
</html>