{% load static %} 
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/last.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <title>OnMuse</title>
  </head>
  <body>
    <!-- 内容 -->
    <div class="container">
        <p class="good-work">お疲れ様でした</p>
        <p class="work-comment">この展示に寄せられたコメント</p>
        <div class="comment-scroll">
          <!-- コメント投稿部分ST ----->
          <table border="0" cellspacing="0" cellpadding="1">
            <tr>
              <td>
              <form method="POST" action="comment.php?rep=1" target="com">
                <span style="font-size:18px;font-weight:100;color:#ff0000">?? </span><b>一言コメントをどうぞ！</b>(100字まで)<br>
                <input type="text" id="comment" name="comment" size="80" style="width:535;border:1px solid #00ccff">
                <input type="submit" id="submit" value="送信" style="width:54"> 
              </td></form>
            </tr>
            <tr>
              <td>
                <div id="commentv" style="font-size:13px;line-height:15px;color:#666699;width:580px;height:160px;border:1px solid #00ccff;padding:8px;overflow-y:scroll;display:none;"></div>
                <iframe name="com" src="comment.php" id="com" style="width:301px;height:201px;frameborder:0px;border:0px;padding:0px;overflow:hidden;display:none;"></iframe>
              </td>
            </tr>
          </table>
          <br>
          <!-- コメント投稿部分EN ----->
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
          <dl><dt><img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg"></dt><dd class="view-comment">ここに閲覧者コメント</dd></dl>
        </div><!-- class="comment-scroll"-->
    </div><!-- class="container" -->
  </body>
</html>