<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/grobal.css" />
    <link rel="stylesheet" href="css/open.css" />
    <title>OnMuse</title>
  </head>
  <body>
    <!--ここからフォーム-->
    <form enctype="multipart/form-data" action="{% url 'post:post_create' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">送信</button>
  </form>
  <!--ここまでフォーム-->
    <!-- header -->
    <header>
      <nav class="pc-nav">
        <ul class="pc-nav-menu">
          <li class="home"><a href="index.html">HOME</a></li>
          <li><a href="open.html">OPEN</a></li>
          <li><a href="#">SEARTH</a></li>
          <li><a href="#">PLOFILE</a></li>
        </ul>
      </nav>
      <a href="signup.html" class="btn btn-signup">SIGNUP</a>
      <a href="login.html" class="btn btn-login">LOGIN</a>
    </header>
    <!-- 内容 -->
    <div class="container">
    <h1 class="open-title">展示会を開く</h1>
    <!-- 展示タイトルを入力 -->
    <div class="title">
    <label class="ef">
      <input type="text" placeholder="展示タイトル" required>
    </label>
    </div>
    <!-- 展示画像をアップロード -->
    <p>展示作品をアップロード</p>
    <div id="upFileWrap">
    <div id="inputFile">
        <!-- ドラッグ&ドロップエリア -->
        <p id="dropArea">ここにファイルをドロップしてください<br><br>または</p>
        <br>

        <!-- 通常のinput[type=file] -->
        <div id="inputFileWrap">
            <input type="file" name="uploadFile" id="uploadFile" accept="image/png,image/jpeg,image/jpg,image/gif" required>
            <div id="btnInputFile"><span>ファイルを選択する</span></div>
            <div id="btnChangeFile"><span>ファイルを変更する</span></div>
        </div>
    </div>
    <!-- 展示説明を入力 -->
    <div class="explanation">
    <label class="el">
      <textarea type="text" rows="2" cols="10" wrap="hard" maxlength="40" placeholder="簡単に展示の説明を入力してください"></textarea>
    </label>
    </div>
    <p class="workstag">作品タグ</p>
    <div class="tag-space">
      <label class="tag"><input type="checkbox" value="かわいい" name="animal"><span>#かわいい</span></label>
      <label class="tag"><input type="checkbox" value="かっこいい" name="animal"><span>#かっこいい</span></label>
      <label class="tag"><input type="checkbox" value="鬱くしい" name="animal"><span>#鬱くしい</span></label>
      <label class="tag"><input type="checkbox" value="センシティブ" name="animal"><span>#センシティブ</span></label><br>
      <label class="tag"><input type="checkbox" value="きれい" name="animal"><span>#きれい</span></label>
      <label class="tag"><input type="checkbox" value="LOG" name="animal"><span>#LOG</span></label>
      <label class="tag"><input type="checkbox" value="本気絵" name="animal"><span>#本気絵</span></label>
      <label class="tag"><input type="checkbox" value="過程" name="animal"><span>#過程</span></label>
      <label class="tag"><input type="checkbox" value="好きなもの" name="animal"><span>#好きなもの</span></label><br>
      </div>


</div>
</div>
    </div>
      <!-- footer -->
      <footer>
        <ul class="footer-menu">
          <p class="footer-text">© 2021 こらえる</p>
        </ul>
      </footer>
    </div>
    <script type="text/javascript" src="open.js"></script>
  </body>
</html>
