{% load static %} 
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/open.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <title>OnMuse</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <nav class="pc-nav">
        <ul class="pc-nav-menu">
          <li class="home"><a href="../home">HOME</a></li>
          <li><a href="">OPEN</a></li>
          <li><a href="ranking">SEARTH</a></li>
          <li><a href="../account/profile">PLOFILE</a></li>
        </ul>
      </nav>
      <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
      <a href="../account/login" class="btn btn-login">LOGIN</a>
    </header>
    <!-- 内容 -->
    <div class="container">
    <h1 class="open-title">展示会を開く</h1>
    <!-- 展示タイトルを入力 -->
    <form enctype="multipart/form-data" action="{% url 'post:open' %}" method="POST">
    {% csrf_token %}
    <input readonly type="hidden" name="author" value={{ user.username }} >
    <div class="title">
    <label class="ef">
      <input type="text" name="title" placeholder="展示タイトル" required>
    </label>
    </div>
    <!-- 展示画像をアップロード -->
    <p>展示作品をアップロード</p>
    <div id="upFileWrap"><!-- dragDropArea -->
    <div id="inputFile"><!-- drag-drop-inside -->
    <!-- ドラッグ&ドロップエリア -->
      <p id="dropArea">ここにファイルをドロップしてください</p><!-- drag-drop-info -->
        <p>または</p>
        <p class="drag-drop-buttons">
        <div id="inputFileWrap">
          <!--id fileInput -->
          <input type="file" name="image" id="uploadFile" accept="image/png,image/jpeg,image/jpg,image/gif" multiple="multiple" onchange="loadImage(this);" required>
        </p>
        <p id="preview"></p>
        <div id="btnInputFile"><span>ファイルを選択する</span></div>
        <div id="btnChangeFile"><span>ファイルを変更する</span></div>
      </div>
  </div>

    <!-- 展示説明を入力 -->
    <div class="explanation">
      <label class="el">
        <textarea name="content" rows="2" cols="10" wrap="hard" maxlength="200" placeholder="簡単に展示の説明を入力してください" required></textarea>
      </label>
    </div> 

    <p class="workstag">作品タグ</p>
    <div class="tag-space">
      {% for tag in tags %}
        <label class="tag"><input type="checkbox" value= {{tag.id}} name="tag"><span>{{ tag.name }}</span></label>
      {% endfor %}
    </div>
    <!-- 送信ボタン -->
    <a class="btn btn-submit"><input type="submit"></a>
  </div>
</form>
</div>
    </div>
      <!-- footer -->
      <footer>
        <ul class="footer-menu">
          <p class="footer-text">© 2021 こらえる</p>
        </ul>
      </footer>
    </div>
    <script type="text/javascript" src="open.js"></script>
  </body>
</html>
