<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% for post in post_list %}
  <p>&emsp;&emsp;&emsp;作者:{{ post.author }}</p>
  <a href="detail/{{ post.id }}">&emsp;タイトル:{{ post.title }}</a>
  <p>&emsp;&emsp;&emsp;本文:{{ post.content }}</p>
  <p>&emsp;投稿時間:{{ post.created_at }}</p>
  <a>&emsp;&emsp;&emsp;タグ:</a>
  {% for TAG in post.tag.all %}
  <a>{{ TAG.name }}</a>
  {% empty %}
  <a>タグ付いてないよ</a>
  {% endfor %}
  <br>
  {% for image in images %}
  {% if image.post_id == post.id %}
  <img src="{{ image.image.url }}" style="width:600px;height:auto">
  <br>
  {% endif %}
  {% endfor %}
  <br>
  {% endfor %}
</body>

</html>