{% load static %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/banner.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OnMuse</title>
</head>

<body>
  <!-- header -->
  <header>
    <nav class="pc-nav">
      <ul class="pc-nav-menu">
        <li class="home"><a href="">SEARTH</a></li>
        <li><a href="../post/open">OPEN</a></li>
        <li><a href="../account/profile">PLOFILE</a></li>
      </ul>
    </nav>
    {% if request.user.id != None %}
    <p>{{request.user}}</p>
    {% else %}
    <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
    <a href="../account/login" class="btn btn-login">LOGIN</a>
    {% endif %}
  </header>
  <!-- 内容 -->
  <!-- 検索ボックス -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <form method="get" action="{% url 'post:search' %}" class="search_container">
    <input type="text" size="25" name="keyword" placeholder="作品を検索">
    <input type="submit" value="&#xf002">
  </form>
  <!-- ソートボタン -->
  <ul class="sortbtn">
    <li class="btn-margin"><a href="#" class="btn btn-on"># 新着</a></li>
    <li class="btn-margin"><a href="#" class="btn btn-off"># 急上昇</a></li>
    <li class="btn-margin"><a href="#" class="btn btn-off"># 週間いいね</a></li>
    <li class="btn-margin"><a href="#" class="btn btn-off"># 月間いいね</a></li>
  </ul>
  <div class="wrapper">
    <!-- 個々の作品画像 -->
    <ul class="slider-wrapper" id="ranking-slider">
      {% for post in posts %}
      <li>
        <a href="detail/{{ post.id }}"><img src={{ post.flyer.url }}></a>
      </li>
      {% endfor %}
    </ul>
    <!-- slider-wrapper -->
  </div><!-- wrapper -->
  <!-- 展示バナー -->
  <a class="center" href="../post/join"><img class="banner" src="../../static/picture/nekoten.png"></a>
  <!-- footer -->
  <footer>
    <ul class="footer-menu">
      <p class="footer-text">© 2021 こらえる</p>
    </ul>
  </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="{% static 'js/ranking.js' %}"></script>
</body>

</html>