{% load static %} 
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <link 
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" 
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <link 
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnMuse</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <nav class="pc-nav">
        <ul class="pc-nav-menu">
          <li class="home"><a href="../home/choice">HOME</a></li>
          <li><a href="../post/open">OPEN</a></li>
          <li><a href="">SEARTH</a></li>
          <li><a href="../account/profile">PLOFILE</a></li>
        </ul>
      </nav>
      <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
      <a href="../account/login" class="btn btn-login">LOGIN</a>
    </header>
    <!-- 内容 -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="キーワード検索">
      <input type="submit" value="&#xf002">
    </form>
    <section class="typeA">
      <input id="TAB-A01" type="radio" name="TAB-A" checked="checked">
      <label class="tabLabel" for="TAB-A01">新着</label>
        <div class="content">
          <div class="container01"> <!-- 画面の表示幅を960pxに -->

            {% for post in posts|slice:":5" %}<!--5は出す回数(弄っていいよ)-->
              <div class="opus"> <!-- 作品要素を横並びに -->
                {% for icon in icons %}
                  {% if icon.username == post.author %}
                    <img src="{{ icon.icon.url }}">
                  {% endif %}
                {% endfor %}
                <p class="title"><a href="detail/{{ post.id }}">{{ post.title }}</a></p>
                <div class="sub-element">
                  <i class="fas fa-heart fa-3x"></i>
                  <span class="margin"></span><!-- 空白 -->
                  <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                  <span class="margin"></span><!-- 空白 -->
                  <i class="far fa-eye fa-3x"></i>
                  <span class="margin"></span><!-- 空白 -->
                  <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                  <span class="margin"></span><!-- 空白 -->
                </div><!-- div class="sub-element" -->
              </div><!-- div class="opus" -->
            {% endfor %}
            </div><!-- div class="opus-last" -->
          </div><!-- div class="container01" -->
        </div><!-- div class="content" -->

      <input id="TAB-A02" type="radio" name="TAB-A">
      <label class="tabLabel" for="TAB-A02">いいね数</label>
        <div class="content">
          <div class="container01"> <!-- 画面の表示幅を960pxに -->
            <div class="opus"> <!-- 作品要素を横並びに -->

              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->

            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->

            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->

            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->
            
            <div class="opus-last"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus-last" -->
          </div><!-- div class="container01" -->
        </div><!-- div class="content" -->

      <input id="TAB-A03" type="radio" name="TAB-A">
      <label class="tabLabel" for="TAB-A03">フォロー</label>
        <div class="content">
          <div class="container01"> <!-- 画面の表示幅を960pxに -->
            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->
            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->
            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->
            <div class="opus"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus" -->
            <div class="opus-last"> <!-- 作品要素を横並びに -->
              <img src="../../medias/icons/8074e2c65a3ab65d0ce7b482795b7ac0.jpg">
              <p class="title"><a href="#">展示タイトルここだよ</a></p>
              <div class="sub-element">
                <i class="fas fa-heart fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(いいね数) -->
                <span class="margin"></span><!-- 空白 -->
                <i class="far fa-eye fa-3x"></i>
                <span class="margin"></span><!-- 空白 -->
                <span class="number">100</span><!-- ここに取得した数字(閲覧数) -->
                <span class="margin"></span><!-- 空白 -->
              </div><!-- div class="sub-element" -->
            </div><!-- div class="opus-last" -->
          </div><!-- div class="container01" -->
        </div><!-- div class="content" -->
    </section>
    <!-- footer -->
      <footer>
        <ul class="footer-menu">
          <p class="footer-text">© 2021 こらえる</p>
        </ul>
      </footer>
    </div>
  </body>
</html>
