{% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/retail.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>User Works</title>
  </head>
  <body>
    <div class="carousel">
      <ul class="carousel-area">
        <li class="carousel-list">
        <img class="carousel-img" src="img/hamster.jpg" alt="ハムスターの画像"/>
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="img/sheep.jpg" alt="羊の画像" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="img/turtle.jpg" alt="亀の画像" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="img/bird.jpg" alt="鳥の画像" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="img/lion.jpg" alt="ライオンの画像" />
        </li>
      </ul>
    </div>
  </body>
</html>
