{% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/retail.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>User Works</title>
  </head>
  <body>
    <div class="carousel">
      <ul class="carousel-area">
        <li class="carousel-list">
        <img class="carousel-img" src="#" alt="展示作品01"/>
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品02" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品03" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品04" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品05" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品06" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品07" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品08" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品09" />
        </li>
        <li class="carousel-list">
          <img class="carousel-img" src="#" alt="展示作品10" />
        </li>
      </ul>
    </div>
  </body>
</html>
