<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{account.username}}</p>
    <br>現在の名前</br>
    <input type="text" name="last_name" value={{account.last_name}}>
    <br>現在のメールアドレス</br>
    <input type="email" name="email" value={{account.email}}>
    <br>現在の自己紹介</br>
    <textarea type="text" name="introduction">{{account.introduction}}</textarea>
    <br>現在のリンク</br>
    <input type="url" name="link" value={{account.link}}>
    <br>現在のアイコン</br>
    <img src="{{ account.icon.url }}" style="width:600px;height:auto">
    <br>
    <input type="file" name="icon" accept="image/png,image/jpeg,image/jpg,image/gif">
    <br>現在の誕生日
    <br>{{account.birthday}}</br>
    <input type="datetime-local" name="birthday">

    <input type="reset" value="リセットする">
    <button type="submit">ユーザー登録</button>
</form>
