{% load static %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
  <title>OnMuse</title>
</head>

<body>
  <!-- header -->
  <header>
    <nav class="pc-nav">
      <ul class="pc-nav-menu">
        <li class="home"><a href="../../post/ranking/new">SEARTH</a></li>
        <li><a href="../../post/open">OPEN</a></li>
        <li><a href="{{ request.user }}">PLOFILE</a></li>
      </ul>
    </nav>
    {% if request.user.id != None %}
    <img class="header-icon" src="{{ user.icon.url }}" />
    {% else %}
    <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
    <a href="../account/login" class="btn btn-login">LOGIN</a>
    {% endif %}
  </header>
  <!-- アイコン画像表示 -->
  <div class="container">
    <img class="icon" src="{{ user.icon.url }}" />
    <!-- 取得したアイコン  -->
    <!-- 名前/ID表示  -->
    <p class="username">{{ user.last_name }}</p>
    <!-- 取得したID/名前  -->
    <p class="userid">＠{{ user.username }}</p>
    <!-- 自己紹介 -->
    <div class="profile-text">
      {{ user.introduction | linebreaksbr }}
    </div>
    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label"
        for="TAB-01">個展</label>
      <div class="tab-content">
        <div class="cp_box">
          <input id="cp01" type="checkbox">
          <div class="cp_container">
            <label for="cp01"></label>
            <div class="grad-item">
              {% for post in posts %}
              <a class="other" href="../../post/detail-top/{{ post.id }}">
                <img class="artworks" src={{ post.flyer.url}} /></a>
              {% empty %}
              <a>まだ投稿していません</a>
              <!-- 取得した他展示  --></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">企画展</label>
      <div class="tab-content">
        <div class="cp_box">
          <input id="cp01" type="checkbox">
          <div class="cp_container">
            <label for="cp01"></label>
            <div class="grad-item">
              {% for exhibition in exhibitions %}
              <a class="other" href="../../post/detail-top/{{ exhibition.id }}">
                <img class="artworks2" src={{ exhibition.flyer.url }} />
              </a>
              {% empty %}
              <a>まだ投稿をしていません</a>
              <!-- 取得した他展示  --></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">いいね</label>
      <div class="tab-content">
        {% for like in likes %}
              <a class="other" href="../../post/detail-top/{{ like.id }}">
                <img class="artworks" src={{ like.flyer.url }} />
              </a>
              {% empty %}
              <a>まだいいねをしていません</a>
              <!-- 取得した他展示  --></a>
              {% endfor %}
        <!--いいね欄内容-->
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <ul class="footer-menu">
      <p class="footer-text">© 2021 こらえる</p>
    </ul>
  </footer>
  </div>
</body>

</html>