{% load static %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OnMuse</title>
</head>

<body>
  <!-- header -->
  <header>
    <nav class="pc-nav">
      <ul class="pc-nav-menu">
        <li class="home"><a href="../post/ranking">SEARTH</a></li>
        <li><a href="../post/open">OPEN</a></li>
        <li><a href="../account/profile">PLOFILE</a></li>
      </ul>
    </nav>
    {% if request.user.id != None %}
    <img class="header-icon" src="{{ user.icon.url }}" />
    {% else %}
    <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
    <a href="../account/login" class="btn btn-login">LOGIN</a>
    {% endif %}
  </header>
  <!-- アイコン画像表示 -->
  <div class="container">
    <img class="icon" src="{{ user.icon.url }}" />
    <!-- 取得したアイコン  -->
    <!-- 名前/ID表示  -->
    <p class="username">{{ user.last_name }}</p>
    <!-- 取得したID/名前  -->
    <p class="userid">＠{{ user.username }}</p>
    <!-- 自己紹介 -->
    <div class="profile-text">
      {{ user.introduction | linebreaksbr }}
    </div>
    <!-- 展示作品 -->
    <p class="artworks">この作者の個展</p>
    <div class="grad-wrap">
      <input id="trigger1" class="grad-trigger" type="checkbox" />
      <label class="grad-btn" for="trigger1"></label>
      <div class="grad-item">
        {% for post in posts %}
        <a class="other" href="../post/detail/{{ post.id }}"><img class="artworks" src={{ post.flyer.url }} />
          <!-- 取得した他展示  --></a>
        {% endfor %}
      </div>
    </div>
    <p class="artworks">この作者の参加した展覧会</p>
    <div class="grad-wrap">
      <input id="trigger1" class="grad-trigger" type="checkbox" />
      <label class="grad-btn" for="trigger1"></label>
      <div class="grad-item">
        {% for exhibition in exhibitions %}
        <a class="other" href="../post/detail/{{ exhibition.id }}"><img class="artworks" src={{ exhibition.flyer.url }} />
          <!-- 取得した他展示  --></a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <ul class="footer-menu">
      <p class="footer-text">© 2021 こらえる</p>
    </ul>
  </footer>
  </div>
</body>

</html>