{% load static %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/grobal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_change.css' %}" />
{% endblock %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnMuse</title>
</head>

<body>
    <!-- header -->
    <header>
        <nav class="pc-nav">
            <ul class="pc-nav-menu">
                <li class="home"><a href="../post/ranking">SEARTH</a></li>
                <li><a href="../post/open">OPEN</a></li>
                <li><a href="../account/profile/{{ request.user }}">PLOFILE</a></li>
            </ul>
        </nav>
        {% if request.user.id != None %}
        <img class="header-icon" src="{{ user.icon.url }}" />
        {% else %}
        <a href="../account/signup" class="btn btn-signup">SIGNUP</a>
        <a href="../account/login" class="btn btn-login">LOGIN</a>
        {% endif %}
    </header>
    <div class="container">
        <div class="side">
            <p class="username">{{ user.username }}</p>
            <img class="icon" src="{{ user.icon.url }}" />
            <a href="#" class="btn btn--pro btn--radius">プロフィールを編集する</a>
            <br>
            <a href="#" class="btn btn--art btn--radius">展示会を見る</a>
        </div>
        <div class="main">
            <p class="icon">アイコン画像</p>
            <img src="{{ account.icon.url }}" class="change-icon">
            <p class="userid">ユーザID</p>
            <p class="username02">ユーザ名</p>
            <p class="mail">メールアドレス</p>
        </div>
    </div>
    <!-- footer -->
    <!-- <footer>
        <ul class="footer-menu">
            <p class="footer-text">© 2021 こらえる</p>
        </ul>
    </footer> -->
</body>

</html>