{% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
{% endblock %}
  <html>
    <head>
      <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
        rel="stylesheet"
      />
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
      <title>SIGN UP</title>
    </head>

    <body>
      <div class="main" align="center">
        <p class="su">SIGN UP</p>
        <form class="form1" align="center">
          <input
            class="Name"
            type="text"
            placeholder="User Name"
            required
            autofocus
          />
          <input class="ID" type="text" placeholder="ID" required autofocus />
          <input
            class="mail"
            type="email"
            placeholder="Email Address"
            required
          />
          <input
            class="pass1"
            type="password"
            placeholder="Choose Password"
            required
          />
          <input
            class="pass2"
            type="password"
            placeholder="Retype Password"
            required
          />
          <a href="login.html" class="submit"
            ><input type="submit" value="SIGN UP" align="center"
          /></a>
        </form>
      </div>
    </body>
  </html>
</html>
